.filter-grid {
    margin-bottom:30px;
}

.container.content {
    margin-bottom: 25px;
}

footer {
    background-color: #f8f8f8;
    border-top: #e7e7e7;
    height: 60px;
}

footer .text-muted {
    margin: 20px 0;
    text-align: center;
}